/* css reset */
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	}

#color-palette{
    background-color: #9EB23B;
    background-color: #C7D36F;
    background-color: #FCF9C6;
    background-color: #E0DECA;
}

body{
    background-color: #E5E3C9 !important;
}

.navbar {
    /* background-color: #94b49fb9;	 */
	background-color: rebeccapurple;
	margin-bottom: 2%;
	padding: 5%;
}

.table-container{
	background-color: #B4CFB0;
	padding: 2em;
	border-radius: 5px;
}

form, .reg-form, .login-form {
	background-color: #B4CFB0;
	padding: 2em;
	border-radius: 5px;
}

.btn-span{
	display: flex;
	justify-content: space-between;
}

/* .home-body{
	background-color: #B4CFB0;
} */