<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Expense</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}
    <!--End Navbar -->

<div class="container">
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Expense Name</label>
            <input type="text" class="form-control" name="name">
            <div id="nameHelp" class="form-text">Please provide a specific, informative name</div>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            $ <input type="number" class="form-control" name="amount">
        </div>
        <div class="mb-3">
            <label for="category">Select Category</label>
            <select name="category">
                {% for model.category in model %}
                <option>{{model.category}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>